@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add a CSS class to style the fixed header */
.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* Add Some Styles For The Active Link */
.header-links a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #000;
  width: 100%;
  height: 1px;
}

.header-links a.active:hover::before {
  background-color: #0070d2;
}

/* Change swiper two button styles */
.swiper-button-prev,
.swiper-button-next {
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  position: absolute;
}

.swiper-button-prev::after {
  left: 8px;
}
.swiper-button-next::after {
  right: 8px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #ccc;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  font-weight: bold;
}

/* Show Add to cart btn on hover parent */
.product-container:hover button {
  display: block;
}
